---
---

@import "{{ site.theme }}";

video {
  display: unset;
  width: 100%;
}

@media print, screen and (max-width: 1060px) {
  h1, h2, h3, h4, p {
    margin: 10px;
  }
}

blockquote {
  font-style: normal;
}

iframe {
  width: 540px;
  height: 315px;
}
